location /playback/presentation/2.3/manifest.json {
  root /var/bigbluebutton;
  try_files $uri /playback/presentation/2.3/index.html;
}


location /playback/presentation/2.3 {
  root /var/bigbluebutton;
  try_files $uri /playback/presentation/2.3/index.html;

  auth_request /auth;
  error_page 401 = @recerror401;
  expires -1;
}
